@import url('https://db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

#cardId{
    background: #FFFFFF!important;
    border: 0.4px solid #E6E6E6!important;
    border-radius: 20px!important;
}

/* :root{
  --first-color: #adb5bd;
  --first-color-light: #f3f3fd;
  --second-color: #d146ca;
  --third-color:#fff;
  --four-color:#000;
  --body-font: 'Quicksand', sans-serif;
  --normal-font-size: 1rem;
} */

/* *,::before,::after{
  box-sizing: border-box;
} */

/* body{
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--second-color);
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
} */
.main {
    background-color: #fffdff;
    padding: 40px 0;
}
.cardPayments{
    background-color:var(--third-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    border-radius: 8px;
}
.pay{
    font-size: 18px;
    color:var(--four-color);
    font-weight: 600;
    margin-top:5px;
}
.amount{
    background-color:var(--first-color-light);
    border-radius: 8px;
}
.inner{
    padding:8px 19px;
}
.dollar{
    color:var(--first-color);
    font-size: 20px;
    font-weight: 500;
}
.total{
    font-size: 20px;
    font-weight: 500;
    color:#000000;
}
.cardnumber{
    font-size: 13px;
    color: rgba(48, 49, 61, 0.8)!important;
    font-weight: 500;
    margin-top:18px;
}
.marstercard {
    position: relative;
    top: 39px;
    right: -74px;
    margin: 14px;
}

.amaricanE {
    position: relative;
    top: 39px;
    right: -42px;
    margin: 14px;
}
.visacard {
    position: relative;
    top: 39px;
    right: -7px;
    margin: 14px;
}

.cvc-ard {
    position: relative;
    top: -29px;
    right: -98px;
    margin: -8px;
}
.form-control:focus{
    box-shadow: none;
}
.accountnumber{
    color:var(--four-color) !important;
    font-weight: 400;
    font-size: 12px;
    padding:7px 46px -2px 2px;
    border:2px solid var(--first-color);
    border-radius: 7px;
}
.exptxt{
    font-size: 13px;
    color: rgba(48, 49, 61, 0.8)!important;
    font-weight: 500;
    margin-top: 5px;
}
.cvvtxt{
    font-size: 13px;
    color: rgba(48, 49, 61, 0.8)!important;
    font-weight: 500;
    margin-top: 5px;
}
.expiry{
    padding:7px 46px -2px 2px;
    width:120px;
    font-size: 12px;
    font-weight: 400;
    border:2px solid var(--first-color);
    border-radius: 7px;
    
}
.cvv {
    padding:6.5px ;
    width:125px;
    font-size: 15px;
    border:2px solid var(--first-color);
    border-radius: 7px;
}
.cancel{
    
        font-weight: 600;
        font-size: 10px;
        background-color: var(--second-color);
        border: none;
        width: 132px;
        color: var(--third-color);
        padding: 13px 10px;
        border-radius: 12px;
        cursor: pointer;
   
}
.cancel:hover,
.cancel:focus{
    box-shadow: none;
    color:var(--third-color);
    background-color:var(--first-color);
}
.payment {
    font-weight: 600;
    font-size: 10px;
    background-color: var(--second-color);
    border: none;
    width: 132px;
    color: var(--third-color);
    padding: 13px 10px;
    border-radius: 12px;
    cursor: pointer;
}
.payment:hover{
    color:var(--third-color);
}
#countryId{
    font-size: 13px;
    color: rgba(48, 49, 61, 0.8)!important;
    font-weight: 500;
    margin-top: 5px;
}
/* .form-control{
    background: #F6F8FA;
border: 0.4px solid rgba(230, 230, 230, 0.9)!important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)!important;
border-radius: 5px!important;

} */
#datepicker{
    padding-top: 1.5rem!important;
    margin-bottom: -19px!important;
}
.accountnumber{
    font-size: 12px;
   
    background: #FFFFFF;
border: 0.4px solid #E6E6E6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;
}
.expiry{
    font-size: 12px;
    
   
    background: #FFFFFF;
border: 0.4px solid #E6E6E6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;
}
.cvv{
    font-size: 12px;
    background: #FFFFFF;
border: 0.4px solid #E6E6E6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;
}
.selectcountry{
    font-size: 12px;
    background: #FFFFFF;
border: 0.4px solid #E6E6E6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;
}