@import url('https://db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

* {
    box-sizing: border-box;
}

.card-body {
    /* background: rgba(230, 230, 230, 0.1) !important ; */
    border-radius: 15px;
}

/* .FormOneborder {
    border: 0.5px dashed rgba(0, 0, 0, 0.2);
    border-radius: 15px !important;
} */

/* .FormOneborder h3 {
    font-size: 16px;
    color: #30313DCC;
    font-weight: 500;
} */

.input-cardDetails {
    background: #FFFFFF;
    border: 0.4px solid #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-size: 13px !important;
}

.label-color {
    
font-size: 1px !important;
font-weight: 400 !important;
line-height: 11px;
text-transform: capitalize;

/* color: rgba(118, 118, 118, 0.5)!important; */
}

.select-country {
    background: #FFFFFF;
    border: 0.9px solid #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-size: 13px !important;
}

/* .BF-options-styles {
    color: #C7C5C5 !important;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
} */

#card-form-main {
    background: #F7FAFC;
    border: 0.4px solid #E6E6E6;
    border-radius: 8px;
    font-family: 'Gilroy SemiBold', sans-serif;
    letter-spacing: 0;
}

#validate {
    background: rgba(67, 67, 68, 0.8) !important;
    width: 10rem;
    height: 3rem;
    font-size: 0.7rem;
    border-radius: 8px !important;
}


.card-formMain-div input {
    color: #787474 !important;
    font-size: 12px !important;
}

.card-formMain-div input::placeholder {
    color: #C7C5C5 !important;
    font-size: 12px !important;
}

.card-formMain-form-label {
    margin-bottom: -0.8rem !important;
    color: #868686 !important;
    font-size: 12px !important;


}
.cardnumber-span{
    margin-bottom: 0.2rem !important;
    color: #868686 !important;
    font-size: 12px !important;
    margin-top: 12px !important;

}
.cvcnumber-span{
    margin-bottom: 0.2rem !important;
    color: #868686 !important;
    font-size: 12px !important;
    margin-top: 4px;

}
.marstercard{
    position: relative;
    justify-content: space-between;
    top: 39px;
    right: -148px;
    margin: 14px;
}
.amaricanE{
    position: relative;
    top: 39px;
    justify-content: space-between;
    right: -77px;
    margin: 14px;
}
.visacard {
    position: relative;
    top: 39px;
    justify-content: space-between;
    right: -7px;
    margin: 14px;
}

.cvc-ard {
    position: relative;
    justify-content: space-between;
    top: 38px;
    right: 15px;
    margin: -8px;
    margin: -1px -6px 5px
}

/* .payment-form-icon {
    line-height: 46px;
    margin-right: 10px;
    color: #dddddd !important;
  } */
