@import url('https://db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');


#logoId{
    color:rgba(33.00000183284283, 45.00000111758709, 99.00000169873238,1)!important;
    font-family:'Gilroy SemiBold', sans-serif;
    letter-spacing:0;
}
#discriptionId{
    color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
    font-family: 'Gilroy SemiBold', sans-serif !important;
    letter-spacing:0;
    
}
#smicons{
    font-size: 10px;
    margin-top: -40px;
    margin-left: 60px;
    position: absolute;
    color:#263238!important;
	

}



#copyright1{
    font-size: 15px;
    margin-top: -58px;
    margin-left: 40px;
    position: absolute;
    color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;

}
/* .p-3 {
    padding: 1.2rem!important;
    left: -67px;
} */
#nameId{
    color:#0A142F!important;
    font-family: 'Gilroy SemiBold', sans-serif  !important;
}
#list1{
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}
#list2{
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif !important;
	
}
#list3{
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}
#list4{
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif !important;
	
}

#exploreId{
    color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}
#limlId1 { 
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}

#limlId2 { 
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif  !important;
}

#limlId3 { 
	color:rgba(9.544791430234909, 19.757982194423676, 46.75000101327896, 1)!important;
	opacity:0.5;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}
#footerID {
    background-color: #ffffff!important;
    border-radius: 5px;
    border: 0.3px solid #1A2859;
}


@media screen and (max-width:1200px) {
    .p-3{
        text-align: center;
    }
}

@media screen and (max-width:1600px) {
    .p-3{
        text-align: center;
    }
}
@media screen and (max-width:2000px) {
    .p-3{
        text-align: center;
    }
}
#copyright{
    text-align: center;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}
.text-para{
    color: #263238;
}